{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a 
                                href="/new"
                                class="nav-item nav-link active">Create Product
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Products</span></h2>

        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                {% for product in products|reverse %}
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src={{product.image}} alt="">
                                </div>
                                <div class="flex-fill pl-3  overflow-hidden">
                                    <h6>{{product.name}}</h6>
                                    <small class="text-body">{{product.description}}
                                    <div class="border col-12 mt-2">
                                        {# <a href="{{ path('delete_product', {id: product.id}) }}" class="text-dark"> Delete</a> #}
                                        <a 
                                            href="/products/ {{ product.id }}"
                                            class="px-4 text-dark" >show 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
